.container{
  display: flex;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}
img {
    background-color: #eed;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    margin:10px;
    width: 390px;
    max-width: 90%;
}

button{
  margin:20px;
}