<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

      <mat-nav-list>
          <a mat-list-item [routerLink]="['/']">
              <mat-icon matListIcon>home</mat-icon>Home
          </a>
          <a mat-list-item [routerLink]="['add']">
            <mat-icon matListIcon>add</mat-icon>Add
        </a>
          <a mat-list-item [routerLink]="['info']">
            <mat-icon matListIcon>info</mat-icon>Info
        </a>
      </mat-nav-list>

      <mat-toolbar class="sidenav-bottom">
      </mat-toolbar>

  </mat-sidenav>

  <mat-sidenav-content>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>