  <mat-card class="card">
    <mat-card-subtitle>Created by</mat-card-subtitle>
    <mat-card-title>Linus Nyrén</mat-card-title>
    <mat-card-content>
      <p>Built using .Net and Angular hosted with docker compose</p>
      <p>
        Using Azure Blob storage for images, easily downloaded as jpeg
      </p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <a mat-button color="accent" href="https://github.com/linusnyren/CoCanvas" target="_blank">Project on Github</a>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
