  <div class="container">
        <div (click)="uploadFile.click()">
            <button mat-raised-button color="primary">Select Images</button>
            <input #uploadFile multiple (change)="selectFiles($event)" accept="image/* .heic" type='file' style="display:none"/> 
         </div>
    <div>
      <button
        mat-button color="primary"
        [disabled]="!selectedFiles"
        (click)="uploadFiles()"
      >
        Upload
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div class="container">
        <mat-spinner class="spinner" *ngIf="isLoading$ | async"></mat-spinner>
        <div *ngFor='let preview of previews'>
            <div class="image-container">
                <img mat-card-image src={{preview}}>
            </div>
        </div>
</div>